/*Css Reset*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.center {
	margin: 0 auto;
}

.cf:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#mobile-indicator {
	display: none;
}

body {
	font-family: "Arial", sans-serif;
	overflow-x: hidden;
	background-color: #575361;
}

header {
	min-height: 110px;
	position: absolute;
	top: 0;
	width: 100%;
	background-color: rgba(236, 236, 236, .9);
	z-index: 100000;
}

.head-content {
	width: 100%;
	max-width: 1039px;
}

.head-content .logo {
	display: block;
	float: left;
	margin-top: 21px;
	margin-left: 40px;
	width: 201px;
}

.wrap-log-srch {
	float: right;
	margin-top: 30px;
}

.top-menu,
.search {
	float: left;
	vertical-align: middle;
}

.top-menu {
	font-size: 0;
	margin-right: 9px;
}

.top-menu li {
	display: inline-block;
	padding: 0 9px;
	vertical-align: middle;
	line-height: 30px;
	position: relative;
}

.top-menu li:after {
	content: '';
	display: inline-block;
	width: 1px;
	height: 13px;
	background-color: #8e8e8e;
	position: relative;
	top: 3px;
	right: -9px;
	border-right: 1px solid #b2b3b4;
}

.top-menu li:last-child:after {
	display: none;
}

.top-menu li a {
	font-size: 14px;
	color: #774520;
}

.search input[type='text'],
.search input[type='submit'] {
	height: 30px;
	border-width: 1px;
	border-style: solid;
}

.search {
	position: relative;
	margin-right: 50px;
}

.search input[type='text'] {
	border-color: white;
	box-shadow: inset 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
	width: 200px;
	padding: 0 65px 0 5px;
}

.search input[type='submit'] {
	border-color: #b64301;
	position: absolute;
	right: 0;
	top: 0;
	background: linear-gradient(to bottom, #964415 0%, #6d2d09 100%);
	color: white;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	font-size: 14px;
	width: 60px;
}

.top-big-part {
	background-color: #d6d6d6;
}

.slider-wrapper .shadow-left {
	position: absolute;
	height: 100%;
	left: 0;
	z-index: 15;
	box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.3);
}

.slider-wrapper .shadow-right {
	position: absolute;
	height: 100%;
	right: 0;
	z-index: 15;
	box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.3);
}

.slider-wrapper {
	width: 100%;
	max-width: 1039px;
	position: relative;
}

.slider-wrapper div.slider img {
	width: 100%;
	max-width: 1039px;
	margin: 0 auto;
}

.slider .pic-title {
	font-size: 30px;
	position: absolute;
	bottom: 50px;
	right: 30px;
	color: white;
	z-index: 100000000000000000000000;
}

.slider-wrapper:before {
	content: '';
	display: block;
	position: absolute;
	background: url(../img/left-pic.jpg);
	left: -165px;
	width: 165px;
	bottom: 0;
	height: 410px;
	z-index: 10;
}

.slider-wrapper:after {
	content: '';
	display: block;
	position: absolute;
	background: url(../img/right-pic.jpg);
	right: -160px;
	width: 160px;
	bottom: 0;
	height: 410px;
	z-index: 10;
}

.bottom-big-part {
	border-top: 1px solid #575361;
	background-image: linear-gradient(to bottom, #465648 0%, #627364 100%);
	position: relative;
	z-index: 30;
}

.main {
	max-width: 941px;
	margin: -20px auto 0 auto;
	position: relative;
	border: 3px solid #e6e6e6;
	border-bottom: 1px solid #f9fafa;
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, .25);
}

.side-menu,
.content,
.tabs {
	float: left;
}

.side-menu:after,
.content:after,
.tabs:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	height: 100%;
	z-index: -1;
	border-right: 3px solid #e6e6e6;
}

.side-menu {
	width: 200px;
}

.content {
	width: 438px;
}

.tabs {
	width: 297px;
}

.side-menu:after {
	width: 197px;
	background: linear-gradient(to bottom, #ffffff 0%, #ffffff 70%, #e6e6e6 100%);
}

.content:after {
	width: 435px;
	background: url('../img/content-bgrnd.png'), linear-gradient(to bottom, #ffffff 0%, #ffffff 70%, #e6e6e6 100%);
}

.tabs:after {
	border-right: none;
	width: 297px;
	background: linear-gradient(to bottom, #f6f7f9 0%, #fcfdfd 100%);
}

.side-menu>ul {
	width: 197px;
}

.side-menu>ul>li {
	position: relative;
	padding: 4px 0;
	width: 100%;
}

.side-menu>ul>li>a {
	display: block;
	height: 100%;
	font-size: 18px;
	line-height: 32px;
	color: #964415;
	font-weight: bold;
	padding: 0 19px;
}

.side-menu>ul>li:hover>a {
	background: linear-gradient(to right, #6d686f 0%, #6d686f 40%, #fefefe 100%);
	color: white;
}

.has-ctx:hover:after {
	content: '';
	display: block;
	position: absolute;
	top: 11px;
	right: 3px;
	border: 9px solid transparent;
	border-left: 15px solid #6d686f;
}

li.has-ctx .ctx-menu {
	display: none;
	position: absolute;
	left: 197px;
	top: 0;
	background: linear-gradient(to bottom, #7c777e 0%, #6d686f 100%);
	box-shadow: 0 2px 15px 0px rgba(0, 0, 0, .5);
}

.has-ctx:hover .ctx-menu {
	display: block;
}

.ctx-menu li {
	white-space: nowrap;
	padding: 0 15px;
	margin-bottom: -1px;
}

.ctx-menu li:last-child {
	margin-bottom: 0;
}

.ctx-menu li a {
	color: white;
	display: block;
	height: 100%;
	line-height: 40px;
	vertical-align: middle;
	border-bottom: 1px solid #9d999e;
}

.ctx-menu li:last-child a {
	line-height: 41px;
	border-bottom: none;
}

.ctx-menu li:hover {
	background-color: #9a939d;
}


/* TABS */

.tabs ul {
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: -33px;
	height: 30px;
}

.tabs ul li:first-child {
	margin-left: 10px;
}

.tabs ul li {
	padding: 0 14px;
	cursor: pointer;
	display: block;
	float: left;
	background: linear-gradient(to top, #828282 0%, #ffffff 100%);
	color: #323332;
	line-height: 30px;
	margin-left: 7px;
	font-weight: bold;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, .5);
}

.tabs ul li.active,
.tabs ul li.active:hover {
	background: linear-gradient(to top, #f6f7f9 0%, #ffffff 100%);
	color: #6d2d09;
	border-bottom: 3px solid #f6f7f9;
}

.tabs ul li:hover {
	background: linear-gradient(to bottom, #828282 0%, #ffffff 100%);
}

.tabs a {
	color: #964415;
}

.note {
	padding-left: 20px;
	padding-top: 17px;
	margin-bottom: 6px;
}

.note img {
	float: left;
	border: 3px solid #cccccc;
}

.note .text a {
	line-height: 15px;
}

.note .text a:hover {
	border-bottom: 1px dashed #964415;
}

.note .text,
.note .date {
	margin-left: 86px;
	font-size: 13px;
}

.note .date {
	margin-top: 7px;
	color: #666666;
}

.tabs .view-all {
	font-weight: bold;
	font-size: 14px;
	line-height: 15px;
	display: inline-block;
	margin: 14px 0 19px 121px;
	vertical-align: middle;
}

.tabs .view-all span {
	position: relative;
	top: -2px;
}

.tabs .view-all:hover {
	color: #652e0f;
}

.content .content-wrapper {
	margin: 0 38px;
}

.content h1 {
	font-family: 'Georgia';
	font-size: 30px;
	color: #454545;
	margin-top: 25px;
	margin-bottom: 7px;
}

.content h2 {
	font-size: 18px;
	color: #333333;
	line-height: 30px;
}

.content>.content-wrapper>a {
	font-weight: bold;
	font-size: 15px;
	color: #964415;
	display: inline-block;
	margin-top: 20px;
}

.content>.content-wrapper>a:hover {
	color: #652e0f;
}

.content .button-wrapper {
	border: 3px solid #e6e6e6;
	padding: 20px;
	background: linear-gradient(to top, #ffffff 0%, #f6f7f9 100%);
	margin: 30px 0 20px 0;
}

.content button {
	padding: 0;
	border: 1px solid #fdfdfe;
	width: 100%;
	min-height: 42px;
	box-shadow: 0 0 5px rgba(0, 0, 0, .25);
	background: linear-gradient(to top, #9e8250 0%, #e8bf76 100%);
}

.content button:hover {
	background: linear-gradient(to bottom, #9e8250 0%, #e8bf76 100%);
}

.content button a {
	font-size: 18px;
	color: white;
	display: block;
	line-height: 40px;
}

footer {
	width: 943px;
	background: url('../img/footer-bckgrnd.png'), linear-gradient(to top, #c2c4af 0%, #d1d6cf 100%);
	position: relative;
	z-index: 10;
	display: table;
	box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, .25), -5px 10px 15px 0px rgba(0, 0, 0, .25);
}

footer .footer-ref {
	display: table-cell;
	border-right: 1px solid #a9b4b7;
	padding: 20px 25px;
}

footer .footer-ref:last-child {
	border-right: none;
}

footer .footer-ref li {
	line-height: 20px;
}

footer .footer-ref li {
	font-size: 16px;
	color: white;
}

footer .footer-ref li:first-child {
	font-weight: bold;
}

footer .footer-ref li a {
	color: #737468;
	font-size: 13px;
}

footer .footer-ref li a:hover {
	color: #4f5048;
}

p.copyright {
	width: 100%;
	font-size: 13px;
	color: #dbdbdb;
	text-align: center;
	margin-top: 17px;
	position: relative;
	z-index: 50;
}

.basement {
	margin-top: 44px;
	height: 127px;
	background: url('../img/basement-pic.jpg') repeat-x 50% 50%;
}

.hamburger {
	position: relative;
	display: none;
	line-height: 40px;
	border: 0;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	z-index: 10000000;
	width: 40px;
	height: 40px;
	text-align: center;
	vertical-align: top;
	margin-right: 10px;
	background-color: transparent;
	left: 20px;
	top: 5px;
	color: #964415;
	margin-bottom: 20px;
}

.cross {
	position: relative;
	display: none;
	border: 0;
	font-size: 60px;
	line-height: 40px;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	z-index: 10000000000000;
	width: 40px;
	height: 40px;
	text-align: center;
	vertical-align: top;
	margin-right: 10px;
	background-color: transparent;
	left: 20px;
	top: 5px;
	color: #964415;
	margin-bottom: 20px;
}

.hamburger span,
.cross span {
	position: absolute;
}

.hamburger span {
	left: 6px;
	top: 0;
}

.cross span {
	left: 10px;
	top: 12px;
}

@media all and (max-width: 1365px) {
	.slider-wrapper:before,
	.slider-wrapper:after {
		display: none;
	}
}

@media all and (max-width: 960px) {
	
	#mobile-indicator {
		display: block;
	}
	
	.side-menu {
		display: none;
	}
	
	.main,
	.main>* {
		width: 100%;
	}
	.hamburger {
		width: 40px;
		display: block;
	}
	.cross {
		width: 40px;
		display: block;
	}
	.side-menu,
	.content,
	.tabs {
		float: none;
		width: 100%;
	}
	.side-menu .has-ctx>a {
		pointer-events: none;
	}
	.side-menu:after,
	.content:after,
	.tabs:after {
		width: 100%;
	}
	.side-menu>ul {
		width: 100%;
	}
	.side-menu>ul>li {
		border: 1px solid black;
		margin-bottom: -1px;
	}
	.side-menu>ul>li {
		
	}
	.side-menu>ul>li:hover>a {
		background: none;
		background-color: #999999;
	}

	li.has-ctx > ul.ctx-menu {
		display: block;
		position: relative;
		width: 100%;
		left: 0;
	}
	
	.tabs ul {
		position: static;
	}
	
	.tabs ul > li {
		display: block;
	}
	
	footer {
		display: none;
	}
}

@media all and (max-width: 765px) {
	header {
		position: static;
	}
	.head-content {
		width: 100%;
	}
	.head-content .logo,
	.head-content .wrap-log-srch {
		float: none;
	}
	.head-content .logo {
		width: 201px;
		margin: 0 auto;
	}
	.head-content .wrap-log-srch {
		width: 100%;
		text-align: center;
	}
	.head-content .wrap-log-srch>* {
		float: none;
		display: inline-block;
	}
	.search {
		margin-right: 0;
	}
	.slider-nav-bl {
		top: 19px;
	}
}
