html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: MetaPlusBold;
	src: url("../fonts/metaplusbold-roman.ttf");
}

@font-face {
	font-family: MetaPlusBook;
	src: url("../fonts/metaplusbook-roman.ttf");
}

@font-face {
	font-family: ArialMonospacedMT;
	src: url("../fonts/arial-monospaced-mt.ttf");
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	height: 100%;
	background: linear-gradient(to bottom, #e1eef9 0%, #bdd9f0 100%);
	font-family: Arial;
}

.cf:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.r-bl-9 {
	border-radius: 9px;
}

.r-bl-15 {
	border-radius: 15px;
}

.purple-bg {
	background-color: #6753cf;
}

.lilac-bg {
	background-color: #ce6df7;
}

.lightred-bg {
	background-color: #ff7878;
}

.lightgreen-bg {
	background-color: #8bc751;
}

.orange-bg {
	background-color: #fdca49;
}

.lightpurple-bg {
	background-color: #8fa0ff;
}

input[type="text"] {
	box-shadow: inset 1px 1px 2px #808080;
	border: none;
	background-color: white;
	color: #bbbbbb;
	font-size: 20px;
}

#wrapper {
	max-width: 960px;
	margin: 0 auto;
}

.top-line {
	background-color: #4597e9;
	height: 9px;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
}

.header-part {
	width: 50%;
	float: left;
	position: relative;
}

.left-header-part {
	padding: 45px 19px 0 19px;
}

.right-header-part {
	padding-top: 35px;
}

.colored-logo {
	width: 100%;
	max-width: 386px;
}

.search-input {
	height: 40px;
	width: 100%;
	max-width: 308px;
	padding-left: 20px;
	padding-right: 50px;
	float: right;
}

.search-submit {
	height: 40px;
	width: 45px;
	border: none;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	background: url(../img/search-ico.png), linear-gradient(to top, #f7941d 24%, #f8bb49 76%);
	position: absolute;
	bottom: 0;
	right: 0;
}

.search-submit:hover {
	cursor: pointer;
}

.top-nav {
	margin-top: 11px;
	font-family: MetaPlusBook;
	height: 50px;
	background-image: -moz-linear-gradient( 90deg, rgb(31, 123, 229) 0%, rgb(74, 155, 234) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(31, 123, 229) 0%, rgb(74, 155, 234) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(31, 123, 229) 0%, rgb(74, 155, 234) 100%);
	position: relative;
}

.top-nav>.top-menu {
	width: 100%;
	max-width: 960px;
	height: 100%;
	padding: 0 5px;
}

.top-nav>.top-menu>li {
	float: left;
	line-height: 50px;
	position: relative;
}

.top-nav>.top-menu>li:hover>a {
	color: #e6854c;
}

.top-nav>.top-menu>li:hover>a.has-ctx:before {
	border-top: 6px solid #e6854c;
}

.top-nav>.top-menu>li>a {
	color: white;
	font-size: 20px;
	display: block;
	width: 100%;
	padding: 0 14px;
}

.top-menu>li>a.has-ctx:before {
	content: '';
	display: inline-block;
	border: 6px solid transparent;
	border-top: 6px solid white;
	position: relative;
	top: 3px;
	margin-right: 6px;
}

.ctx-menu {
	display: block;
	position: absolute;
	background-color: #cbdefa;
	z-index: 100;
	padding: 13px 18px;
	text-align: left;
	width: 161px;
	left: -10px;
	border: 2px solid #9bc0f5;
	display: none;
}

.ctx-menu:after {
	content: '';
	display: block;
	position: absolute;
	width: 15px;
	height: 15px;
	transform: rotate(45deg);
	border-top: 2px solid #9bc0f5;
	border-left: 2px solid #9bc0f5;
	border-top-left-radius: 5px;
	background-color: #cbdefa;
	top: -10px;
	left: 68px;
}

.ctx-menu li {
	margin: 0;
	line-height: 17px;
}

.ctx-menu li a {
	font-size: 15px;
	color: #3368bd;
	vertical-align: middle;
}

.ctx-menu li a:hover {
	color: #f8872e;
}

.top-nav>.top-menu>li:hover .ctx-menu {
	display: block;
}

.hamburger {
	position: relative;
	display: none;
	line-height: 40px;
	border: 0;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	z-index: 10000000000000;
	width: 40px;
	height: 40px;
	text-align: center;
	vertical-align: top;
	margin-right: 10px;
	background-color: transparent;
	left: 20px;
	top: 5px;
	color: white;
}

.cross {
	position: relative;
	display: none;
	border: 0;
	font-size: 60px;
	line-height: 40px;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	z-index: 10000000000000;
	width: 40px;
	height: 40px;
	text-align: center;
	vertical-align: top;
	margin-right: 10px;
	background-color: transparent;
	left: 20px;
	top: 5px;
	color: white;
}

.hamburger span,
.cross span {
	position: absolute;
}

.hamburger span {
	left: 6px;
	top: 0;
}

.cross span {
	left: 10px;
	top: 12px;
}

.main {
	margin-top: 20px;
	width: 100%;
	background-color: white;
	padding: 20px;
}

.content {
	float: left;
	width: 100%;
	max-width: 610px;
	margin-bottom: 20px;
}

.aside {
	float: right;
	width: 100%;
	max-width: 290px;
}

.vitrina {
	width: 100%;
	max-height: 299px;
	overflow: hidden;
	margin-bottom: 20px;
}

.vitrina img {
	border-radius: 15px;
	width: 100%;
	height: 100%;
}

.vitrina video {
	border-radius: 15px;
	position: relative;
}

.vitrina .video.paused:after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 90;
	background: url(../img/play-but.png) no-repeat 50% 50%;
}

.vitrina .video:hover {
	cursor: pointer;
}

.vitrina video {
	margin: 0 auto;
	width: 100%;
	position: relative;
}

section.with-h {
	width: 100%;
	float: left;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

section.with-h .h-bl {
	height: 35px;
	font-size: 18px;
	font-weight: bold;
	color: white;
	border-radius: 9px;
	position: relative;
	padding: 0 19px;
	margin-bottom: 20px;
}

section.with-h .h-bl span {
	z-index: 100;
	line-height: 35px;
	position: absolute;
}

section.with-h .h-bl:after {
	content: '';
	display: block;
	position: absolute;
	width: 19px;
	height: 19px;
	background-color: inherit;
	border-radius: 5px;
	transform: rotate(45deg);
	bottom: -8px;
	left: 33px;
	z-index: 90;
	background-color: inherit;
}

.article {
	font-family: Arial;
	float: left;
	border-top: 1px solid #b29eff;
	width: 100%;
	padding: 20px 0;
}

.article.increased {
	width: 50%;
	max-width: 295px;
	margin-left: 20px;
	margin-top: 0;
	border-top: none;
	padding-top: 0;
}

.article.increased:first-of-type {
	margin-left: 0;
}

.article img {
	width: 144px;
	float: left;
	margin-right: 19px;
}

.article.increased img {
	display: block;
	max-width: 295px;
	width: 100%;
	margin: 0 auto 20px auto;
	float: none;
}

.article a {
	font-size: 18px;
	color: #524b9f;
	line-height: 20px;
	/*	margin-top: 5px;*/
}

.article a:hover {
	color: #f8872e;
}

.article p {
	margin-top: 10px;
	font-size: 12px;
	color: #636363;
	line-height: 18px;
}

aside .with-h {
	padding-left: 20px;
	padding-right: 20px;
	background-color: #ebeef2;
	border-radius: 9px;
	margin-bottom: 20px;
}

aside .with-h .h-bl {
	margin-left: -20px;
	margin-right: -20px;
}

aside p {
	font-family: Arial;
	font-size: 14px;
	line-height: 18px;
	color: #636363;
}

aside input[type="text"] {
	height: 30px;
	width: 100%;
	box-shadow: inset 1px 1px 2px #808080;
	background-color: white;
	border: none;
	padding-left: 20px;
	padding-right: 20px;
	color: #bbbbbb;
	font-size: 18px;
	border-radius: 5px;
	margin-top: 7px;
	margin-bottom: 2px;
}

aside input[type="submit"] {
	font-family: MetaPlusBold;
	height: 25px;
	/*	box-shadow: inset 1px 1px 2px #808080;*/
	background-color: #9662a8;
	border: none;
	padding-left: 12px;
	padding-right: 12px;
	color: white;
	font-size: 14px;
	border-radius: 12px;
	margin-top: 9px;
}

aside input[type="submit"]:hover {
	cursor: pointer;
}

.numbered-list li {
	border-bottom: 1px solid #f48b8d;
	padding: 10px 0;
}

.numbered-list li:first-child {
	padding-top: 0;
}

.numbered-list span {
	font-family: Arial;
	font-weight: bold;
	display: block;
	float: left;
	font-size: 42px;
	color: #dc6c6e;
}

.numbered-list p {
	margin-left: 39px;
	line-height: 17px;
	margin-top: 2px;
}

a.ref {
	display: inline-block;
	margin: 9px 0 3px 0;
	font-family: MetaPlusBold;
	font-size: 18px;
	color: #dc6c6e;
}

a.ref span {
	font-size: 14px;
}

a.ref:hover {
	color: #9a4b4c;
}

.soc-but {
	background: url(../img/social-icons.png) no-repeat 0 0;
	width: 37px;
	height: 36px;
	float: left;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.soc-but a {
	display: block;
	width: 100%;
	height: 100%;
}

.soc-but:last-child {
	margin-right: 0;
}

.soc-but.email {
	background-position: 0 0;
}

.soc-but.rss {
	background-position: -37px 0;
}

.soc-but.linkedin {
	background-position: -74px 0;
}

.soc-but.o-th {
	background-position: -111px 0;
}

.soc-but.twitter {
	background-position: -148px 0;
}

.soc-but.youtube {
	background-position: -185px 0;
}

.tags {
	text-align: center;
}

.tags .h-bl {
	text-align: left;
}

.tags a {
	padding-bottom: 17px;
}

.tags a span {
	font-family: Arial;
	color: #ffa927;
	line-height: 19px;
	margin-right: 5px;
}

.tags a span:hover {
	color: #dc6c6e;
}

section.with-h.tags {
	padding-bottom: 17px;
}

.tools {
	background-color: #ebeef2;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 16px;
	float: left;
	width: 100%;
	margin-top: -20px;
}

.tools .tool {
	float: left;
	width: 80px;
	text-align: center;
	position: relative;
}

.tool a {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 5;
}

.tool-icon {
	width: 50px;
	height: 50px;
	border-radius: 14px;
	margin: 0 auto;
}

.tools span {
	display: block;
	font-family: ArialMonospacedMT;
	font-size: 10px;
	transform: scale(0.9, 1);
	letter-spacing: 0.3px;
	margin-top: 5px;
	color: #657f9c;
}

.tool-icon.printer {
	background: url(../img/tools-icons.png) 0px 0, linear-gradient(to bottom, #ffc579 0%, #fb9d24 100%);
}

.tool-icon.health {
	background: url(../img/tools-icons.png) -50px 0, linear-gradient(to bottom, #ffc579 0%, #fb9d24 100%);
}

.tool-icon.friends {
	background: url(../img/tools-icons.png) -100px 0, linear-gradient(to bottom, #ffc579 0%, #fb9d24 100%);
}

.conteudo {
	background-color: #ebeef2;
	margin-top: 20px;
}

.conteudo p {
	margin: 0 20px 15px 20px;
	color: #6583c2;
}

.nav-pages {
	font-size: 0;
	float: left;
	margin-top: -20px;
}

.nav-pages>.nav-pages-select,
.nav-pages>.p-buts {
	float: left;
	margin-top: 20px;
}

.nav-pages>.nav-pages-select,
.nav-pages .p-but {
	padding: 5px 20px;
	vertical-align: bottom;
	margin-right: 20px;
	background-color: #ebeef2;
}

.nav-pages .p-but:last-child {
	margin-right: 0;
}

.nav-pages-select {
	font-family: Arial;
	font-size: 18px;
	width: 286px;
	color: #849db8;
}

.select-page {
	width: 66px;
	height: 25px;
	border-radius: 12px;
	border: none;
	-webkit-appearance: none;
	background: linear-gradient(to right, white 0%, white 60%, transparent 60%, transparent 100%), url('../img/select-arrow.png') no-repeat 40px center;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	/* for IE */
	-ms-appearance: none;
	appearance: none!important;
	text-align: center;
	color: #849db8;
	font-size: 18px;
	padding-left: 16px;
}

.select-page::-ms-expand {
	display: none;
}

.p-but {
	display: inline-block;
	font-family: ArialMonospacedMT;
	font-size: 14px;
	font-weight: bold;
	color: #b4c2d1;
	width: 142px;
	text-align: center;
	line-height: 25px;
	/*	height: 25px !important;*/
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.p-buts .p-but:first-child:before {
	content: '';
	display: inline-block;
	border: 6px solid transparent;
	border-right: 6px solid #b4c2d1;
	margin-right: 7px;
}

.p-buts .p-but:last-child:after {
	content: '';
	display: inline-block;
	border: 6px solid transparent;
	border-left: 6px solid #b4c2d1;
	margin-left: 7px;
}

footer {
	margin: 20px auto 0 auto;
	width: 100%;
	background-color: #3368bd;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 30px 20px 0 20px;
	font-family: Arial;
	font-size: 12px;
	padding-bottom: 40px;
}

footer a:hover {
	color: #f8872e;
}

.footer-refs {
	border-bottom: 1px solid #849db8;
	font-size: 0;
	padding-bottom: 20px;
}

footer .head-ref {
	font-size: 13px;
	margin-bottom: 5px;
}

footer .head-ref:before {
	display: none;
}

footer ul {
	margin-top: 20px;
	float: left;
	vertical-align: top;
	width: 20%;
	padding-right: 5%;
}

footer a,
footer div {
	color: white;
}

footer h1.logo-text {
	font-family: MetaPlusBook;
	font-size: 27px;
	color: #6aa0f0;
	position: relative;
	margin-left: 10px;
}

footer h1 sup {
	font-size: 13px;
	vertical-align: top;
	position: relative;
	top: 5px;
}

footer h1 .bold {
	font-weight: bold;
}

footer ul li {
	font-size: 11px;
	position: relative;
	margin-left: 10px;
	line-height: 18px;
}

footer ul li.head-ref {
	margin-left: 0;
}

footer li:before {
	content: '';
	background-image: url(../img/marker.jpg);
	width: 3px;
	height: 2px;
	display: inline-block;
	position: absolute;
	top: 8px;
	left: -7px;
}

footer ul:nth-child(4) {
	width: 20%;
}

footer ul:nth-child(5) {
	width: 20%;
	padding-right: 0;
}

footer ul:nth-child(5) .head-ref {
	margin-bottom: 19px;
}

.end {
	margin-top: 40px;
	position: relative;
}

.end p {
	font-size: 11px;
	width: 50%;
}

.end .topo {
	width: 118px;
	height: 30px;
	background-color: #a5c9eb;
	border-radius: 15px;
	position: absolute;
	top: -20px;
	right: 0;
	text-align: center;
}

.end .topo span {
	vertical-align: middle;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
}

.end .topo span:before {
	content: '';
	display: inline-block;
	position: relative;
	left: -4px;
	bottom: 3px;
	border: 6px solid transparent;
	border-bottom: 6px solid white;
}

.end .topo:hover {
	cursor: pointer;
}

@media all and (max-width: 666px) {
	.nav-pages {
		width: 100%;
	}
	.nav-pages-select {
		width: 100%;
	}
	.p-buts {
		width: 100%;
	}
	.p-but {
		width: 40%;
	}
	footer ul {
		width: 50% !important;
	}
}

@media all and (max-width: 770px) {
	.header-part {
		width: 100%;
	}
	.right-header-part {
		padding-top: 10px;
	}
}

@media all and (max-width: 1024px) {
	.top-nav>.top-menu>li>a.has-ctx {
		pointer-events: none;
	}
	.top-nav {
		height: auto;
		min-height: 50px;
	}
	.top-nav>.top-menu {
		display: none;
	}
	.top-nav>.top-menu>li {
		float: none;
		line-height: 50px;
		position: relative;
		padding: 0 20px;
	}
	.top-nav>.top-menu>li .ctx-menu {
		position: relative;
		margin: 0;
		width: 100%;
		left: 0;
	}
	.top-nav>.top-menu>li .ctx-menu br {
		display: none;
	}
	.hamburger {
		display: block;
	}
	.cross {
		display: block;
	}
	.aside,
	.content {
		max-width: 100%;
	}
	.slick-dots {
		background-color: rgba(0, 0, 0, .5);
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}
	.slick-dots>li,
	.slick-dots>li:after,
	.slick-dots>li:before {
		background: none !important;
	}
	.vitrina {
		width: 100%;
		max-height: none;
		height: 100%;
	}
	.article.increased {
		max-width: none;
		margin: 0;
		padding: 10px;
	}
}
